body { 
    font-family: calibri, helvetica, arial, sans-serif; 
}
#controls {
    grid-area: controls;
}

#selected {
    grid-area: selected;
}

#minimap {
    grid-area: minimap;
}

#body {
    grid-area: body;
}

#main {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "controls minimap selected"
        "body     body    body";
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}